<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Spring MVC App</title>
</head>

<body>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Role</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <tr th:each="u : ${user}">
        <td th:text="${u.id}"></td>
        <td th:text="${u.username}"></td>
        <td th:text="${u.role}"></td>
        <td><a th:href="@{'/user/edit/' + ${u.id}}">Редактировать</a></td>
    </tbody>
</table>
</body>
</html>